[Unit]
Description=Telegram G-Checker Bot
After=network.target

[Service]
Type=simple
User=mohammad
Group=mohammad

WorkingDirectory=/home/mohammad/g-checker
ExecStart=/home/mohammad/g-checker/env/bin/python /home/mohammad/g-checker/bot.py

Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
